/* styles.css */

* {
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.linkedin img,
.email img,
.phone img, .resume img, .github img {
    width: 120px;
    /* Adjust the width of the logo as needed */
    height: auto;
}

.linkedin, .email, .phone, .resume, .github {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes wavy {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

.styled-table {
    border-collapse: collapse;
    width: 100%;
    border: 4px solid rgb(4, 12, 41);
    /* Thicker border for the entire table */
    color: black;
}

.styled-table th,
.styled-table td {
    border: 2px solid rgb(4, 12, 41);
    padding: 10px;
    text-align: left;
}

.styled-table td {
    font-size: 20px;
    /* Set the font size for table contents */
}

.styled-table th {
    font-weight: bold;
    /* Make headers bold */
    font-style: italic;
    /* Make headers italic */
    background-color: rgb(209, 224, 239);
    /* Apply background color to headers */
    text-align: center;
    border: 4px solid rgb(4, 12, 41);
    /* Thicker border for header cells */
    font-size: 24px;
    /* Set the font size for headers */
}

.styled-table tbody tr:nth-child(even) {
    background-color: rgb(209, 224, 239);
    /* Apply alternative row colors */
}

.styled-table tbody tr:nth-child(odd) {
    background-color: #bfe9cf;
    /* Apply alternative row colors */
}

.styled-table tbody tr:first-child {
    vertical-align: middle;
    /* Align the first column to the middle */
}

.styled-table tbody tr td:first-child {
    text-align: center;
    /* Align the first column to the center */
    border-right: 4px solid rgb(4, 12, 41);
}

.styled-table tbody tr td:nth-child(2) {
    text-align: left;
    /* Align the second column to the left */
    border-left: 4px solid rgb(4, 12, 41);
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

h1 {
    font-size: 7em;
    /* Adjust the font size as desired */
    font-weight: bold;
    /* Makes the font bold */
    margin: 0;
    background: linear-gradient(to right, #0004ff, #02f806);
    /* Define your gradient colors here */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px black;
    /* Black outline with a 2-pixel width */
    animation: wavy 1s infinite;
    /* Apply the wavy animation */
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    /* Add margin to the bottom of the first list */
}

.custom-list:last-child {
    margin-bottom: 0;
    /* Remove margin from the last list */
}

.custom-list li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.degree-name {
    font-weight: bold;
    font-size: 1.2em;
}

.university-name {
    font-style: italic;
    font-weight: bold;
}

body::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.spacing {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.logo img {
    height: 80px;
    padding: 0 1em;
    background-color: transparent;
}

.utd img {
    width: 100px;
    /* Adjust the width of the logo as needed */
    margin-right: 10px;
    /* Add some spacing between the logo and the university name */
}

.uwg img {
    width: 100px;
    /* Adjust the width of the logo as needed */
    margin-right: 10px;
    /* Add some spacing between the logo and the university name */
}

.venn-diagram {
    text-align: center;
    /* Center its children horizontally */
}

.venn-diagram img {
    display: block;
    /* Make the image a block element */
    margin: 0 auto;
    /* Center the image horizontally within the parent container-fluid */
    width: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #90C7E3;
}

.hero {
    background-color: #3c5064;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.content {
    padding: 2em;
    color: white;
}

.columns {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 1 1 300px;
    background-color: rgb(209, 224, 239);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    color: black;
}

.footer {
    color: white;
    text-align: right;
    padding: 1em 1em;
    bottom: 0;
    width: 100%;
}

.tagline {
    font-size: 1.5em;
    font-style: italic;
}

/* Additional CSS3 visual effect */
.column:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

.skills-content img{
    height: 140px;
    justify-content: center;
    align-items: center;
}

.column-skills {
    flex: 1 1 300px;
    background-color:#bfe9cf;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column-skills:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#center ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-right: 45px;
}

#center ul li{
    height: auto; /* Adjust height based on content */
}

#center a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    display: block; /* Make the link fill the li element */
    padding: 10px 5px; /* Add some padding for better visibility and clickability */
}

#center a:hover {
    color: #90C7E3;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.photo-gallery > div:nth-child(26) {
    grid-column: span 2; /* This will make the first item span two columns */
    grid-row: span 2;    /* This will make the first item span two rows */
}

.gallery-item {
    position: relative;
    overflow: hidden;
    background-color: #f2f5f89f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    width: auto;
    height: 150px;
    transition: transform 0.5s ease;
}

/* Target the image inside the 26th item */
.gallery-item:nth-child(26) img  {
    width: 100%;  /* Stretch the image to cover the full width of the grid item */
    height: 100%; /* Stretch the image to cover the full height of the grid item */
    object-fit: cover; /* Resize the image to maintain its aspect ratio while filling the element */
    transition: transform 0.5s ease;
}

.credit-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.855);
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.photo-gallery > div:nth-child(26) .credit-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Stretch the overlay to cover the full width of the grid item */
    height: 25%; /* Stretch the overlay to cover a quarter of the height of the grid item */
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item:hover .credit-overlay {
    opacity: 1;
}

.credit-overlay a, .credit-overlay a:visited, .credit-overlay a:hover, .credit-overlay a:active {
    color: white;
}

.column a, .column a:visited, .column a:hover, .column a:active {
    color: blue;
}